<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndd.review.mapper.LoginMapper" >
  <!--public String selectArticleIdByAccount(String userAccount);-->
  <select id="selectArticleIdByAccount" resultType="java.lang.String" >
        select user_article_id from user_info where user_account=#{userAccount}
    </select>

    <!--public int updateArticleListByAccount(String account,String articlelist);-->
    <update id="updateArticleListByAccount" parameterType="map" >
        update user_info
        set user_article_id=#{articlelist} where user_account=#{account}
    </update>
</mapper>